<div class="row">
  <div *ngIf="siteParameters" class="col">
    <h3>{{siteParameters[0].name}} drillcore</h3>
  </div>
</div>
<div class="row align-items-center">
  <div class="col">
    <h5>Parameters:</h5>
    <div *ngFor="let siteParameter of siteParameters">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="parameter" value="{{siteParameter.analysis__analysisresult__parameter__parameter}}">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">
                {{siteParameter.analysis__analysisresult__parameter__parameter}} 
                {{siteParameter.analysis__analysisresult__unit__unit}} 
               ( {{siteParameter.analysis__analysis_method__method}} )
            </span>
          </label>
    </div>
  </div>
</div>
<div class="row ">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#data" data-toggle="tab">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#chart" data-toggle="tab">Chart</a>
        </li>
      </ul>
      <br>
  
      <div class="tab-content">
        <div class="tab-pane fade" id="data">
            <p>TODO: Data table</p>
        </div>
        <div class="tab-pane fade" id="chart">
          <p>TODO: Chart</p>
        </div>
      </div>
    </div>
  </div>