<div class="row ">
  <div *ngIf="analysis" class="col ">
    <h3>Analysis ID: {{analysis.id}}</h3>
  </div>
</div>
<div class="row ">
  <div class="col ">
    <div *ngIf="analysis">
        <h4>Analysis details</h4>
      <table class="table table-hover table-bordered table-responsive">
        <colgroup>
          <col span="1" style="background-color:rgba(128, 128, 128, 0.11)">
        </colgroup>
        <tr *ngIf="analysis.id">
          <td>ID</td>
          <td>{{analysis.id}}</td>
        </tr>
        <tr *ngIf="analysis.sample__drillcore__name">
          <td>Drillcore</td>
          <td>{{analysis.sample__drillcore__name}}</td>
        </tr>
        <tr *ngIf="analysis.sample__sample_number">
          <td>Sample</td>
          <td>
            <!--<a routerLink="/sample/{{analysis.sample__id}}">{{analysis.sample__sample_number}}</a>-->
            {{analysis.sample__sample_number}}
          </td>
        </tr>
        <tr *ngIf="analysis.depth">
          <td>Depth from, m</td>
          <td>{{analysis.depth}}</td>
        </tr>
        <tr *ngIf="analysis.end_depth">
          <td>Depth to, m</td>
          <td>{{analysis.end_depth}}</td>
        </tr>
        <tr *ngIf="analysis.analysis_method__method">
          <td>Method</td>
          <td>{{analysis.analysis_method__method}}</td>
        </tr>
        <tr *ngIf="analysis.lab__lab">
          <td>Lab</td>
          <td>{{analysis.lab__lab}}</td>
        </tr>
        <tr *ngIf="analysis.instrument__instrument">
          <td>Instrument</td>
          <td>{{analysis.instrument__instrument}}</td>
        </tr>
        <tr *ngIf="analysis.instrument__model">
          <td>Instrument model</td>
          <td>{{analysis.instrument__model}}</td>
        </tr>
        <tr *ngIf="analysis.analytical">
          <td>Analytical procedures & conditions</td>
          <td>{{analysis.analytical}}</td>
        </tr>
        <tr *ngIf="analysis.refs">
          <td>Reference sample(s) or standard(s)</td>
          <td>{{analysis.refs}}</td>
        </tr>
        <tr *ngIf="analysis.postProcessing">
          <td>Post-processing </td>
          <td>{{analysis.postProcessing}}</td>
        </tr>
        <tr *ngIf="analysis.agent__name">
        <td>Analyzed by</td>
        <td>{{analysis.agent__name}}</td>
        </tr>
        <tr *ngIf="analysis.date">
          <td>Date</td>
          <td>{{analysis.date}}</td>
        </tr>
      </table>

    </div>
  </div>
  <div class="col ">
   <div *ngIf="analysisResults">
  <h4>Analysis results</h4>
    <table class="table table-hover table-bordered table-responsive">
      <thead class="thead-light">
        <tr>
          <th>Parameter</th>
          <th>Unit</th>
          <th>Value</th>
          <th>Error</th>
          <th>LOD</th>
        </tr>
      </thead>
      <tr *ngFor="let analysisResult of analysisResults">
        <td>{{analysisResult.parameter__parameter}}</td>
        <td>{{analysisResult.unit__unit}}</td>
        <td>{{analysisResult.value}} {{analysisResult.value_txt}}</td>
        <td>{{analysisResult.value_error}}</td>
        <td>{{analysisResult.lower_limit}}</td>
      </tr>
    </table>
  </div> 
  </div>
</div>

<div class="row align-items-center">
  <div class="col ">
    <button (click)="openSpectrumView(analysis.id)" class="btn btn-primary btn-lg">Show spectra (4)</button>
  </div>
</div>