<div class="row ">
    <div *ngIf="analysis" class="col ">
<h3>Analysis ID: {{analysis.id}}</h3>
</div>
</div>
<div class="row ">
    <div class="col ">
<div *ngIf="analysis" >
  <table class="table table-hover table-bordered table-responsive">
    <colgroup>
      <col span="1" style="background-color:rgba(128, 128, 128, 0.11)">
    </colgroup>
    <tr>
      <td>ID</td>
      <td>{{analysis.id}}</td>
    </tr>
    <tr>
      <td>Drillcore</td>
      <td>{{analysis.sample__drillcore__name}}</td>
    </tr>
    <tr>
      <td>Sample</td>
      <td>
        <!--<a routerLink="/sample/{{analysis.sample__id}}">{{analysis.sample__sample_number}}</a>-->
        {{analysis.sample__sample_number}}
      </td>
    </tr>
    <tr>
      <td>Depth from, m</td>
      <td>{{analysis.depth}}</td>
    </tr>
    <tr>
      <td>Depth to, m</td>
      <td>{{analysis.end_depth}}</td>
    </tr>
    <tr>
      <td>Method</td>
      <td>{{analysis.analysis_method__method}}</td>
    </tr>
    <tr>
      <td>Lab</td>
      <td>{{analysis.lab__lab}}</td>
    </tr>
    <tr>
      <td>Instrument</td>
      <td>{{analysis.instrument__instrument}}</td>
    </tr>
    <tr>
      <tr>
        <td>Instrument model</td>
        <td></td>
      </tr>
      <tr>
        <tr>
          <td>Analytical procedures & conditions</td>
          <td></td>
        </tr>
        <tr>
          <tr>
            <td>Reference sample(s) or standard(s</td>
            <td></td>
          </tr>
          <tr>
            <tr>
              <td>Post-processing </td>
              <td></td>
            </tr>
            <tr>
              <td>Analyzed by</td>
              <td>{{analysis.agent__name}}</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>{{analysis.date}}</td>
            </tr>
  </table>

</div>
</div>
<div class="col ">
  <button (click)="openSpectrumView(analysis.id)" class="btn btn-primary btn-lg">Show spectra (4)</button>
</div>
</div>

<div class="row align-items-center">
    <div class="col ">
  <h4>Analysis results</h4>
  <table class="table table-hover table-bordered table-responsive">
    <thead class="thead-light">
      <tr>
        <th>Parameter</th>
        <th>Unit</th>
        <th>Value</th>
        <th>Error</th>
        <th>LOD</th>
      </tr>
    </thead>
    <tr *ngFor="let analysisResult of analysisResults">
      <td>{{analysisResult.parameter__parameter}}</td>
      <td>{{analysisResult.unit__unit}}</td>
      <td>{{analysisResult.value}} {{analysisResult.value_txt}}</td>
      <td>{{analysisResult.value_error}}</td>
      <td>{{analysisResult.lower_limit}}</td>
    </tr>
  </table>
    </div>
</div>
