<div class="row">
    <div *ngIf="deposit" class="col">
        <h3>{{deposit.name}} deposit</h3>
    </div>
</div>
<div class="row ">
    <div class="col">
        <table *ngIf="deposit" class="table">
            <colgroup>
                <col span="1">
            </colgroup>
            <tr *ngIf="deposit.id">
                <td class="verticalTableHead">ID</td>
                <td>{{deposit.id}}</td>
            </tr>
            <tr *ngIf="deposit.name">
                <td class="verticalTableHead">Name</td>
                <td>{{deposit.name}}</td>
            </tr>
            <tr *ngIf="deposit.alternative_names">
                <td class="verticalTableHead">Alternative names</td>
                <td>{{deposit.alternative_names}}</td>
            </tr>
            <tr *ngIf="deposit.latitude">
                <td class="verticalTableHead">Latitude</td>
                <td>{{deposit.latitude}}</td>
            </tr>
            <tr *ngIf="deposit.longitude">
                <td class="verticalTableHead">Longitude</td>
                <td>{{deposit.longitude}}</td>
            </tr>
            <tr *ngIf="deposit.genetic_type__name">
                <td class="verticalTableHead">Ore genetic type</td>
                <td>{{deposit.genetic_type__name}}</td>
            </tr>
            <tr *ngIf="deposit.metal_group__name">
                <td class="verticalTableHead">Metal group</td>
                <td>{{deposit.metal_group__name}}</td>
            </tr>
            <tr *ngIf="deposit.metal_subgroup__name">
                <td class="verticalTableHead">Metal subgroup</td>
                <td>{{deposit.metal_subgroup__name}}</td>
            </tr>
            <tr *ngIf="deposit.main_commodity">
                <td class="verticalTableHead">Main commodity</td>
                <td>{{deposit.main_commodity}}</td>
            </tr>
            <tr *ngIf="deposit.other_commodities">
                <td class="verticalTableHead">Other commodities</td>
                <td>{{deposit.other_commodities}}</td>
            </tr>
        </table>
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel id="toggle-1" title="Show mining data">
                <ng-template ngbPanelContent>
                    <table *ngIf="deposit" class="table">
                        <colgroup>
                            <col span="1">
                        </colgroup>
                        <tr *ngIf="deposit.size_cat">
                            <td class="verticalTableHead">Size</td>
                            <td>{{deposit.size_cat}}</td>
                        </tr>
                        <tr *ngIf="deposit.shape">
                            <td class="verticalTableHead">Shape</td>
                            <td>{{deposit.shape}}</td>
                        </tr>
                        <tr *ngIf="deposit.status">
                            <td class="verticalTableHead">Status</td>
                            <td>{{deposit.status}}</td>
                        </tr>
                        <tr *ngIf="deposit.discovery">
                            <td class="verticalTableHead">Year of discovery</td>
                            <td>{{deposit.discovery}}</td>
                        </tr>
                        <tr *ngIf="deposit.mining_start">
                            <td class="verticalTableHead">Mining started</td>
                            <td>{{deposit.mining_start}}</td>
                        </tr>
                        <tr *ngIf="deposit.mining_time">
                            <td class="verticalTableHead">Mined during</td>
                            <td>{{deposit.mining_time}}</td>
                        </tr>
                        <tr *ngIf="deposit.mining_method">
                            <td class="verticalTableHead">Mining method</td>
                            <td>{{deposit.mining_method}}</td>
                        </tr>
                        <tr *ngIf="deposit.resource">
                            <td class="verticalTableHead">Resource Mt</td>
                            <td>{{deposit.resource}}</td>
                        </tr>
                        <tr *ngIf="deposit.reserve">
                            <td class="verticalTableHead">Reserve Mt</td>
                            <td>{{deposit.reserve}}</td>
                        </tr>
                        <tr *ngIf="deposit.mined_mt">
                            <td class="verticalTableHead">Mined Mt</td>
                            <td>{{deposit.mined_mt}}</td>
                        </tr>
                        <tr *ngIf="deposit.tonnage">
                            <td class="verticalTableHead">Total tonnage</td>
                            <td>{{deposit.tonnage}}</td>
                        </tr>
                        <tr *ngIf="deposit.grade">
                            <td class="verticalTableHead">Commodity grade</td>
                            <td>{{deposit.grade}}</td>
                        </tr>
                    </table>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-2" title="Show geological data">
                <ng-template ngbPanelContent>
                    <table *ngIf="deposit" class="table">
                        <colgroup>
                            <col span="1">
                        </colgroup>
                        <tr *ngIf="deposit.district">
                            <td class="verticalTableHead">Geological district</td>
                            <td>{{deposit.district}}</td>
                        </tr>
                        <tr *ngIf="deposit.metgen_area">
                            <td class="verticalTableHead">Metallogenic area</td>
                            <td>{{deposit.metgen_area}}</td>
                        </tr>
                        <tr *ngIf="deposit.host_rock1">
                            <td class="verticalTableHead">Host rock</td>
                            <td>{{deposit.host_rock1}}, {{deposit.host_rock2}}</td>
                        </tr>
                        <tr *ngIf="deposit.adj_rock1">
                            <td class="verticalTableHead">Adjacent rock</td>
                            <td>{{deposit.adj_rock1}}, {{deposit.adj_rock2}}, {{deposit.adj_rock3}}, {{deposit.adj_rock4}}</td>
                        </tr>
                        <tr *ngIf="deposit.age_host__age">
                            <td class="verticalTableHead">Age of host rocks</td>
                            <td>{{deposit.age_host__age}}</td>
                        </tr>
                        <tr *ngIf="deposit.radiom_age_host">
                            <td class="verticalTableHead">Radiometric age of host rocks</td>
                            <td>{{deposit.radiom_age_host}}</td>
                        </tr>
                        <tr *ngIf="deposit.age_min__age">
                            <td class="verticalTableHead">Age of mineralization</td>
                            <td>{{deposit.age_min__age}}</td>
                        </tr>
                        <tr *ngIf="deposit.radiom_age_min">
                            <td class="verticalTableHead">Radiometric age of mineralization</td>
                            <td>{{deposit.radiom_age_min}}</td>
                        </tr>
                        <tr *ngIf="deposit.mineralogy1">
                            <td class="verticalTableHead">Ore mineralogy</td>
                            <td>{{deposit.mineralogy1}}, {{deposit.mineralogy2}}</td>
                        </tr>
                        <tr *ngIf="deposit.ore_distrib">
                            <td class="verticalTableHead">Ore mineral distribution</td>
                            <td>{{deposit.ore_distrib}}</td>
                        </tr>
                        <tr *ngIf="deposit.alteration">
                            <td class="verticalTableHead">Alteration</td>
                            <td>{{deposit.alteration}}</td>
                        </tr>
                        <tr *ngIf="deposit.metam_grade">
                            <td class="verticalTableHead">Regional metamorphic grade</td>
                            <td>{{deposit.metam_grade}}</td>
                        </tr>
                        <tr *ngIf="deposit.texture">
                            <td class="verticalTableHead">Texture</td>
                            <td>{{deposit.texture}}</td>
                        </tr>
                        <tr *ngIf="deposit.structure">
                            <td class="verticalTableHead">Structure</td>
                            <td>{{deposit.structure}}</td>
                        </tr>
                        <tr *ngIf="deposit.strike">
                            <td class="verticalTableHead">Main direction of deposit strike</td>
                            <td>{{deposit.strike}}</td>
                        </tr>
                        <tr *ngIf="deposit.dip">
                            <td class="verticalTableHead">Main direction of deposit dip</td>
                            <td>{{deposit.dip}}</td>
                        </tr>
                        <tr *ngIf="deposit.plunge">
                            <td class="verticalTableHead">Main direction of deposit plunge</td>
                            <td>{{deposit.plunge}}</td>
                        </tr>
                        <tr *ngIf="deposit.tect_ctrl">
                            <td class="verticalTableHead">Tectonic control</td>
                            <td>{{deposit.tect_ctrl}}</td>
                        </tr>
                        <tr *ngIf="deposit.remarks">
                            <td class="verticalTableHead">Comments</td>
                            <td>{{deposit.remarks}}</td>
                        </tr>
                    </table>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <div class="col">
        <div id="map" class="map"></div>
    </div>
</div>
<div class="row ">
    <div class="col">
        <ul class="nav nav-tabs" *ngIf="sites" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#drillcores" data-toggle="tab">Drillcores ({{sites.length}})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#references" data-toggle="tab">References</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#linkedFIles" data-toggle="tab">Linked files</a>
            </li>
        </ul>
        <br>
        <div class="tab-content">
            <div class="tab-pane fade active show table-responsive " id="drillcores">
                <table class="table table-hover table-bordered ">
                    <thead class="thead-light">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Elevation</th>
                            <th>Dip</th>
                            <th>Azimuth</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr *ngFor="let site of sites">
                        <td>{{site.id}}</td>
                        <td>
                            <a routerLink="/drillcore/{{site.id}}">{{site.name}}</a>
                        </td>
                        <td>{{site.latitude}}</td>
                        <td>{{site.longitude}}</td>
                        <td></td>
                        <td>{{site.hole_dip}}</td>
                        <td>{{site.hole_azimuth}}</td>
                        <td>
                            <a routerLink="/drillcore_data/{{site.id}}">Show data</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade table-responsive " id="references">
                <!--<table class="table table-hover table-bordered ">
                    <thead class="thead-light">
                        <tr>
                            <th>Depth from (m)</th>
                            <th>Depth (m, interval)</th>
                            <th>Sample ID</th>
                            <th>Sample number</th>
                            <th>Purpose</th>
                            <th>Person/Institution</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>-->
            </div>
            <div class="tab-pane fade table-responsive " id="linkedFIles">
                <!--<table class="table table-hover table-bordered ">
                    <thead class="thead-light">
                        <tr>
                            <th>Depth from (m)</th>
                            <th>Depth (m, interval)</th>
                            <th>Sample ID</th>
                            <th>Sample number</th>
                            <th>Purpose</th>
                        </tr>
                    </thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>-->
            </div>
        </div>
    </div>

</div>