<h3>{{deposit.name}} deposit</h3>

<div class="row ">
    <div class="col">
        <table class="table">
            <colgroup>
                <col span="1" style="background-color:rgba(128, 128, 128, 0.11)">
            </colgroup>
            <tr>
                <td>ID</td>
                <td>{{deposit.id}}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{deposit.name}}</td>
            </tr>
            <tr>
                <td>Alternative names</td>
                <td>{{deposit.alternative_names}}</td>
            </tr>
            <tr>
                <td>Latitude</td>
                <td>{{deposit.latitude}}</td>
            </tr>
            <tr>
                <td>Longitude</td>
                <td>{{deposit.longitude}}</td>
            </tr>
            <tr>
                <td>Ore genetic type</td>
                <td>{{deposit.genetic_type__name}}</td>
            </tr>
            <tr>
                <td>Metal group</td>
                <td>{{deposit.metal_group__name}}</td>
            </tr>
            <tr>
                <td>Metal subgroup</td>
                <td>{{deposit.metal_subgroup__name}}</td>
            </tr>
            <tr>
                <td>Main commodity</td>
                <td>{{deposit.main_commodity}}</td>
            </tr>
            <tr>
                <td>Other commodities</td>
                <td>{{deposit.other_commodities}}</td>
            </tr>
            <tr>
                <td>Size</td>
                <td></td>
            </tr>
            <tr>
                <td>Shape</td>
                <td></td>
            </tr>
            <tr>
                <td>Status</td>
                <td></td>
            </tr>
            <tr>
                <td>Mining method</td>
                <td></td>
            </tr>
            <tr>
                <td>Mining started</td>
                <td></td>
            </tr>
            <tr>
                <td>Mining terminated</td>
                <td></td>
            </tr>
            <tr>
                <td>Mined in</td>
                <td></td>
            </tr>
            <tr>
                <td>Resource Mt</td>
                <td></td>
            </tr>
            <tr>
                <td>Reserve Mt</td>
                <td></td>
            </tr>
            <tr>
                <td>Mined Mt</td>
                <td></td>
            </tr>
            <tr>
                <td>Commodity grade</td>
                <td></td>
            </tr>
            <tr>
                <td>Ore mineralogy</td>
                <td></td>
            </tr>
            <tr>
                <td>Host rock</td>
                <td></td>
            </tr>
            <tr>
                <td>Adjacent rock</td>
                <td></td>
            </tr>
            <tr>
                <td>Age of host rocks</td>
                <td></td>
            </tr>
            <tr>
                <td>Age of mineralization</td>
                <td></td>
            </tr>
            <tr>
                <td>Alteration</td>
                <td></td>
            </tr>
            <tr>
                <td>Comments</td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="col">
        <div id="map" class="map"></div>
    </div>
</div>