<div class="row">
    <div *ngIf="deposit" class="col">
        <h3>{{deposit.name}} deposit</h3>
    </div>
</div>

<div class="row ">
    <div class="col">
        <table *ngIf="deposit" class="table">
            <colgroup>
                <col span="1" style="background-color:rgba(128, 128, 128, 0.11)">
            </colgroup>
            <tr *ngIf="deposit.id">
                <td>ID</td>
                <td>{{deposit.id}}</td>
            </tr>
            <tr *ngIf="deposit.name">
                <td>Name</td>
                <td>{{deposit.name}}</td>
            </tr>
            <tr *ngIf="deposit.alternative_names">
                <td>Alternative names</td>
                <td>{{deposit.alternative_names}}</td>
            </tr>
            <tr *ngIf="deposit.latitude">
                <td>Latitude</td>
                <td>{{deposit.latitude}}</td>
            </tr>
            <tr *ngIf="deposit.longitude">
                <td>Longitude</td>
                <td>{{deposit.longitude}}</td>
            </tr>
            <tr *ngIf="deposit.genetic_type__name">
                <td>Ore genetic type</td>
                <td>{{deposit.genetic_type__name}}</td>
            </tr>
            <tr *ngIf="deposit.metal_group__name">
                <td>Metal group</td>
                <td>{{deposit.metal_group__name}}</td>
            </tr>
            <tr *ngIf="deposit.metal_subgroup__name">
                <td>Metal subgroup</td>
                <td>{{deposit.metal_subgroup__name}}</td>
            </tr>
            <tr *ngIf="deposit.main_commodity">
                <td>Main commodity</td>
                <td>{{deposit.main_commodity}}</td>
            </tr>
            <tr *ngIf="deposit.other_commodities">
                <td>Other commodities</td>
                <td>{{deposit.other_commodities}}</td>
            </tr>
            <tr *ngIf="deposit.size">
                <td>Size</td>
                <td>{{deposit.size}}</td>
            </tr>
            <tr *ngIf="deposit.shape">
                <td>Shape</td>
                <td>{{deposit.shape}}</td>
            </tr>
            <tr *ngIf="deposit.status">
                <td>Status</td>
                <td>{{deposit.status}}</td>
            </tr>
            <tr *ngIf="deposit.miningMethod">
                <td>Mining method</td>
                <td>{{deposit.miningMethod}}</td>
            </tr>
            <tr *ngIf="deposit.miningStarted">
                <td>Mining started</td>
                <td>{{deposit.miningStarted}}</td>
            </tr>
            <tr *ngIf="deposit.miningTerminated">
                <td>Mining terminated</td>
                <td>{{deposit.miningTerminated}}</td>
            </tr>
            <tr *ngIf="deposit.minedIn">
                <td>Mined in</td>
                <td>{{deposit.minedIn}}</td>
            </tr>
            <tr *ngIf="deposit.resourceMt">
                <td>Resource Mt</td>
                <td>{{deposit.resourceMt}}</td>
            </tr>
            <tr *ngIf="deposit.reserveMt">
                <td>Reserve Mt</td>
                <td>{{deposit.reserveMt}}</td>
            </tr>
            <tr *ngIf="deposit.minedMt">
                <td>Mined Mt</td>
                <td>{{deposit.minedMt}}</td>
            </tr>
            <tr *ngIf="deposit.commodityGrade">
                <td>Commodity grade</td>
                <td>{{deposit.commodityGrade}}</td>
            </tr>
            <tr *ngIf="deposit.mineralogy">
                <td>Ore mineralogy</td>
                <td>{{deposit.mineralogy}}</td>
            </tr>
            <tr *ngIf="deposit.hostRocks">
                <td>Host rock</td>
                <td>{{deposit.hostRocks}}</td>
            </tr>
            <tr *ngIf="deposit.adjacentRock">
                <td>Adjacent rock</td>
                <td>{{deposit.adjacentRock}}</td>
            </tr>
            <tr *ngIf="deposit.ageOfHostRocks">
                <td>Age of host rocks</td>
                <td>{{deposit.ageOfHostRocks}}</td>
            </tr>
            <tr *ngIf="deposit.ageOfMineralization">
                <td>Age of mineralization</td>
                <td>{{deposit.ageOfMineralization}}</td>
            </tr>
            <tr *ngIf="deposit.alteration">
                <td>Alteration</td>
                <td>{{deposit.alteration}}</td>
            </tr>
            <tr *ngIf="deposit.comments">
                <td>Comments</td>
                <td>{{deposit.comments}}</td>
            </tr>
        </table>
    </div>
    <div class="col">
        <div id="map" class="map"></div>
    </div>
</div>
<div class="row ">
    <div class="col">
        <ul class="nav nav-tabs" *ngIf="sites">
            <li class="nav-item"> 
                <a class="nav-link active" href="#drillcores" data-toggle="tab">Drillcores ({{sites.length}})</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#references" data-toggle="tab">References</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#linkedFIles" data-toggle="tab">Linked files</a>
            </li>
        </ul>
        <br>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="drillcores">
                <table class="table table-hover table-bordered ">
                    <thead class="thead-light">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Elevation</th>
                            <th>Dip</th>
                            <th>Azimuth</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr *ngFor="let site of sites">
                        <td>{{site.id}}</td>
                        <td>
                            <a routerLink="/drillcore/{{site.id}}">{{site.name}}</a>
                        </td>
                        <td>{{site.latitude}}</td>
                        <td>{{site.longitude}}</td>
                        <td></td>
                        <td>{{site.hole_dip}}</td>
                        <td>{{site.hole_azimuth}}</td>
                        <td>
                            <a routerLink="/drillcore_data/{{site.id}}">Show data</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade " id="references">
                <table class="table table-hover table-bordered ">
                    <thead class="thead-light">
                        <tr>
                            <th>Depth from (m)</th>
                            <th>Depth (m, interval)</th>
                            <th>Sample ID</th>
                            <th>Sample number</th>
                            <th>Purpose</th>
                            <th>Person/Institution</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>123</td>
                        <td>223</td>
                        <td>Name</td>
                        <td>Abcde</td>
                        <td>223</td>
                        <td>Name</td>
                        <td>Abcde</td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="linkedFIles">
                <table class="table table-hover table-bordered ">
                    <thead class="thead-light">
                        <tr>
                            <th>Depth from (m)</th>
                            <th>Depth (m, interval)</th>
                            <th>Sample ID</th>
                            <th>Sample number</th>
                            <th>Purpose</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>123</td>
                        <td>223</td>
                        <td>Name</td>
                        <td>Abcde</td>
                        <td>223</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>