<div class="row ">
    <div class="col">
        <h3>Box: {{corebox.number}}</h3>
    </div>
</div>
<div class="row ">
    <div class="col">
        <table class="table">
            <colgroup>
                <col span="1" style="background-color:rgba(128, 128, 128, 0.11)">
            </colgroup>
            <tr>
                <td>ID</td>
                <td>{{corebox.id}}</td>
            </tr>
            <tr>
                <td>Drillcore</td>
                <td>{{corebox.drillcore__name}}</td>
            </tr>
            <tr>
                <td>Depth from (m)</td>
                <td>{{corebox.start_depth}}</td>
            </tr>
            <tr>
                <td>Depth to (m)</td>
                <td>{{corebox.end_depth}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row ">
    <div class="col">
        <a href="javascript:void(0);" (click)="openNewWindow('http://www.eurocore.rocks'+corebox.attachmentlink__attachment__url)">
        <img id="imgZoom" width="100%" (mousemove)="zoomIn($event)" (mouseleave)="zoomOut()" src="http://www.eurocore.rocks{{getImagePreviewLink('400',corebox.attachmentlink__attachment__url)}}">
        </a>
        <div id="overlay" (mousemove)="zoomIn($event)"></div>
    </div>
</div>
    

<ul class="nav nav-tabs"> 
    <li class="nav-item">
        <a class="nav-link active" href="#samples" data-toggle="tab">Samples</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#analyses" data-toggle="tab">Analyses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#references" data-toggle="tab">References</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#linkedFIles" data-toggle="tab">Linked files</a>
    </li>
</ul>
<br>

<div class="tab-content">
    <div class="tab-pane fade show active" id="samples">
        <table class="table table-hover table-bordered table-responsive">
            <thead class="thead-light">
                <tr>
                    <th>Depth from (m)</th>
                    <th>Depth (m, interval)</th>
                    <th>Sample ID</th>
                    <th>Sample number</th>
                    <th>Purpose</th>
                    <th>Person/Institution</th>
                </tr>
            </thead>
            <tr>
                <td>123</td>
                <td>223</td>
                <td>Name</td>
                <td>Abcde</td>
                <td>223</td>
                <td>Name</td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade show active" id="analyses">
        <table class="table table-hover table-bordered table-responsive">
            <thead class="thead-light">
                <tr>
                    <th>Depth from (m)</th>
                    <th>Depth (m, interval)</th>
                    <th>Sample ID</th>
                    <th>Sample number</th>
                    <th>Purpose</th>
                    <th>Person/Institution</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tr>
                <td>123</td>
                <td>223</td>
                <td>Name</td>
                <td>Abcde</td>
                <td>223</td>
                <td>Name</td>
                <td>Abcde</td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="references">
        <table class="table table-hover table-bordered table-responsive">
            <thead class="thead-light">
                <tr>
                    <th>Depth from (m)</th>
                    <th>Depth (m, interval)</th>
                    <th>Sample ID</th>
                    <th>Sample number</th>
                    <th>Purpose</th>
                </tr>
            </thead>
            <tr>
                <td>123</td>
                <td>223</td>
                <td>Name</td>
                <td>Abcde</td>
                <td>223</td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="linkedFIles">
        <table class="table table-hover table-bordered table-responsive">
            <thead class="thead-light">
                <tr>
                    <th>Depth from (m)</th>
                    <th>Depth (m, interval)</th>
                    <th>Sample ID</th>
                    <th>Sample number</th>
                    <th>Purpose</th>
                </tr>
            </thead>
            <tr>
                <td>123</td>
                <td>223</td>
                <td>Name</td>
                <td>Abcde</td>
                <td>223</td>
            </tr>
        </table>
    </div>
</div>