<div class="row ">
    <div class="col" *ngIf="corebox">
        <h3>Box: {{corebox.number}}</h3>
    </div>
</div>
<div class="row ">
    <div class="col">
        <table class="table" *ngIf="corebox">
            <colgroup>
                <col span="1" >
            </colgroup>
            <tr>
                <td class="verticalTableHead">ID</td>
                <td>{{corebox.id}}</td>
            </tr>
            <tr>
                <td class="verticalTableHead">Drillcore</td>
                <td>{{corebox.drillcore__name}}</td>
            </tr>
            <tr>
                <td class="verticalTableHead">Depth from (m)</td>
                <td>{{corebox.start_depth}}</td>
            </tr>
            <tr>
                <td class="verticalTableHead">Depth to (m)</td>
                <td>{{corebox.end_depth}}</td>
            </tr>
        </table>
    </div>
</div> 
<div class="row ">
    <div  class="col">
        <a href="javascript:void(0);" (click)="openNewWindow('http://www.eurocore.rocks'+corebox.attachmentlink__attachment__url)">
            <img id="imgZoom" width="100%" (mousemove)="zoomIn($event)" (mouseleave)="zoomOut()" src="http://www.eurocore.rocks{{getImagePreviewLink('2000',corebox.attachmentlink__attachment__url)}}">
        </a>
        <div id="overlay" (mousemove)="zoomIn($event)"></div>
    </div>
</div>


<ul class="nav nav-tabs">
    <li class="nav-item" *ngIf="samples">
        <a class="nav-link active" href="#samples" data-toggle="tab" id="samplesTab">Samples ({{samples.length}})</a>
    </li>
    <li class="nav-item" *ngIf="analyses">
        <a class="nav-link" href="#analyses" data-toggle="tab" id="analysesTab">Analyses ({{analyses.length}})</a>
    </li>
    <!--<li class="nav-item">
        <a class="nav-link" href="#references" data-toggle="tab">References</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#linkedFIles" data-toggle="tab">Linked files</a>
    </li>-->
</ul>
<br>

<div class="tab-content">
    <div class="tab-pane fade show active" id="samples" *ngIf="samples">
        <table class="table table-hover table-bordered table-responsive">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Number</th>
                    <th>Depth (m)</th>
                    <th>Depth (m, interval)</th>
                    <th>Purpose</th>
                    <th>Person/Institution</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tr *ngFor="let sample of samples">
                <td><a href="javascript:void(0);" (click)="openNewWin('sample',sample.id)">{{sample.id}}</a></td>
                <td>{{sample.sample_number}}</td>
                <td>{{sample.depth}}</td>
                <td>{{sample.end_depth}}</td>
                <td>{{sample.purpose}}</td>
                <td>{{sample.institution}}</td>
                <th>{{sample.date}}</th>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="analyses" *ngIf="analyses">
        <table class="table table-hover table-bordered table-responsive">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Depth (m)</th>
                    <th>Depth (m, interval)</th> 
                    <th>Method</th>                   
                    <th>Analysis number</th>
                    <th>Person/Institution</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tr *ngFor="let analysis of analyses">
                <td><a href="javascript:void(0);" (click)="openNewWin('analysis',analysis.id)">{{analysis.id}}</a></td> 
                <td>{{analysis.depth}}</td>
                <td>{{analysis.end_depth}}</td>
                <td>{{analysis.analysis_method__method}}</td>
                <td></td> 
                <td>{{analysis.agent__name}}</td>
                <td>{{analysis.date}}</td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="references">
        <!--<table class="table table-hover table-bordered table-responsive">
            <thead class="thead-light">
                <tr>
                    <th>Depth from (m)</th>
                    <th>Depth (m, interval)</th>
                    <th>Sample ID</th>
                    <th>Sample number</th>
                    <th>Purpose</th>
                </tr>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>-->
    </div>
    <div class="tab-pane fade" id="linkedFIles">
        <!--<table class="table table-hover table-bordered table-responsive">
            <thead class="thead-light">
                <tr>
                    <th>Depth from (m)</th>
                    <th>Depth (m, interval)</th>
                    <th>Sample ID</th>
                    <th>Sample number</th>
                    <th>Purpose</th>
                </tr>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>-->
    </div>
</div>