

<nav class="navbar navbar-expand-md  navbar-light fixed-top" >
    <a class="navbar-brand" href="#"> <img  id="eurocoreLogo" src="http://eurocore.rocks/images/logo_Eurocore_small_no_text_preview.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/drillcore">DRILLCORES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/data_search">DATA</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="/">ABOUT DATA PORTAL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/teaching_aids">TEACHING AIDS</a>
        </li>
          
      </ul>
    </div>  
  </nav>

  <div class="container" >

<router-outlet></router-outlet>
</div>
<div id="footer">
  <a href="https://eitrawmaterials.eu"><img src="http://eurocore.rocks/images/EITRM_flag_logo_web.png" style="margin: 10px; height: 40px;"></a><br>
  CC 2017-2018. EIT Raw Materials project EUROCORE: Ores in drillcores for MSc training.<br>
  <a href="http://ttu.ee/geoloogia-instituut">Hosted by Department of Geology, Tallinn University of Technology</a><br>
  </div>
<br>



  




