<div class="row">
  <div class="col">
    <img src="http://www.eurocore.rocks/images/loppi1.jpg" alt="Studying drillcores at the GTK's Loppi field station, Finland" style="width: 100%; margin: 0 0 15px;"
    />
    <!--<h3>Objective</h3>
    <p>
      Regarding the evolution of the in situ exploration tools, this Eurocore KIC Master education proposal wants to assist the
      mining industry in the formation of students (Master, PhD) and mining companies staff, on the use of this innovative
      In Situ technologies for exploring metals from cores samples. Training people at the continent scale requires a full
      kit: core samples from various ore types, detailed knowledge on core, including its inside structure, field devices
      for training on manual measurements, automated data acquisition for providing large datasets management exercises,
      data management capabilities and ready-to-use workshops calling up teaching skills and methods. Target end-customers
      and/or key beneficiaries of the educational activity. The Eurocore KIC Master education proposal wants to assist the
      mining industry, from Junior to Major ones, on the use of innovative In Situ technologies for exploring metals from
      cores samples. Device suppliers will also benefit of this project, as WP3 and WP4 will develop and optimize the use
      of In Situ tools for mineralogical, geochemical and structural characterization. The educational centers, members of
      this EUROCORE consortium, will of course take advantage of this EUROCORE project and will feed their formation with
      the development of skills on capabilities and limits of each analytical technique regarding specific deposits. The
      research centers will also benefit of this consortium, in merging their experiences and strengths in order to deliver
      a common task force.
    </p>
    <h3>Solution</h3>

    <p>
      This activity may be easily open to the lifelong learning for the wider raw materials community, and easily duplicable for
      the geologists of the mining societies. The analytical benches developed here and methods used to cross data from one
      technique to another will be readily available for extension to other mining contexts at the European scale. Specific
      core sample collections to each regional context can be build built later and automated data collection performed for
      gathering large data sets. Further investment will hence be limited to portable devices availability, which can be
      done in collaboration with local mining companies. This proposal focuses on expertise transfer to field geologists.
    </p>
    <h3>Partners</h3>
    <ul>
      <li>Université de Lorraine (UL), France (Lead Partner)</li>
      <li>Centre de Recherches sur la Géologie des Matières minerales et energetiques (CREGU), France</li>
      <li>Fraunhofer-Gesellschaft zur Förderung der angewandten Forschung e.V. (Fraunhofer), Germany</li>
      <li>Geologian tutkimuskeskus, GTK (Geological Survey of Finland), Finland</li>
      <li>Tallinna Tehnikaülikool, TTÜ – Tallinn University of Technology, Estonia</li>
      <li>Universidad Politecnica de Madrid, UPM (Technical University of Madrid), Spain</li>
    </ul>-->
  </div>
</div>

<div class="row">
  <div class="col">
    <h3>Data portal</h3>
    <p>
      EUROCORE educational data portal provides access to the detailed geological datasets collected from ore exploration drill
      cores. One can find traditional core logs as well as data collected with novel exploration techniques such as field
      portable spectroscopic devices, automated analytical tools and X-ray computed tomography in the EUROCORE database.
      The targeted drill cores represent different genetic types of ore deposits and show various modes of ore occurrences
      and grades. The drill cores are deposited by several universities and research institution across Europe and will be
      exploited for developing advanced practical workshops on mineral exploration for MSc training. The data portal allows
      user to search over wide range of information including geological descriptions, raw analytical data, image files,
      etc. Data tables and graphs could be exported to the external applications via common spreadsheet and vector graphic
      formats. EUROCORE portal software is developed as open source project (https://github.com/geocollections/eurocore)
      and hosted by Tallinn University of Technology. All data and materials accessible through the portal could be freely
      used for non-commercial purposes, taken that appropriate reference to the data owner and EUROCORE portal are provided.
    </p>
  </div>
  <div class="col">
    <h3>Data providers</h3>
    <p>The Geological Survey of Finland acts as the primary data provider of the drill core logging data and geological information.
      The drill core log and assay data are also provided by several mining companies includingAgnico Eagle Mines Limited,
      Boliden Group and Yara International ASA. Data collected with In Situ field devices are provided by the University
      of Lorraine and X-ray computed tomography data by Fraunhofer-Gesellschaft. Mineral deposits data, which could be accessed
      through data portal are harvested from the Fennoscandian Mineral Database (http://gtkdata.gtk.fi/fmd/).</p>
  </div>
  <div class="col">
    <h3>EUROCORE project</h3>
    <p>
      Project funded by EIT Raw Materials wants to assist the mining industry in the formation of students (Master, PhD) and mining
      company personnel on the use of innovative In Situ technologies for exploring metals from core samples. Training people
      at the continent scale requires a full kit: core samples from various ore types, detailed knowledge on cores, including
      its inside structure, field devices for training on manual measurements, automated data acquisition for providing large
      datasets management exercises, data management capabilities and ready-to-use workshops calling up teaching skills and
      methods. EUROCORE portal aims to provide teaching aid for geological master courses by delivering exploration datasets,
      which together with core collections, could be used for building up realistic workshops on ore exploration (on field
      experience). For more information of EUROCORE project please visit project website https://eitrawmaterials.eu/course/eurocore/
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
      <h3>Partnership</h3>
      <ul>
        <li>Université de Lorraine (UL), France (Lead Partner)</li>
        <li>Centre de Recherches sur la Géologie des Matières minerales et energetiques (CREGU), France</li>
        <li>Fraunhofer-Gesellschaft zur Förderung der angewandten Forschung e.V. (Fraunhofer), Germany</li>
        <li>Geologian tutkimuskeskus, GTK (Geological Survey of Finland), Finland</li>
        <li>Tallinna Tehnikaülikool, TTÜ – Tallinn University of Technology, Estonia</li>
        <li>Universidad Politecnica de Madrid, UPM (Technical University of Madrid), Spain</li>
      </ul>

    <div id="footer-logos">
      <a href="#">
        <img data-toggle="tooltip" data-placement="bottom" title="Université de Lorraine" src="http://www.eurocore.rocks/images/logos/Nancy_logo.png"
          alt="UL">
      </a>
      <a href="#">
        <img data-toggle="tooltip" data-placement="bottom" src="http://www.eurocore.rocks/images/logos/TTU_logo.png" alt="TTÜ" title=" Tallinn University of Technology">
      </a>
      <a href="#">
        <img data-toggle="tooltip" data-placement="bottom" title="Technical University of Madrid" src="http://www.eurocore.rocks/images/logos/Madrid_logo.png"
          alt="UPM">
      </a>
      <a href="#">
        <img data-toggle="tooltip" data-placement="bottom" title="Geological Survey of Finland" src="http://www.eurocore.rocks/images/logos/GTK_logo.png"
          alt="GTK">
      </a>
      <a href="#">
        <img data-toggle="tooltip" data-placement="bottom" title="Fraunhofer" src="http://www.eurocore.rocks/images/logos/Fraunhofer_logo.png"
          alt="Fraunhofer" height="70">
      </a>
      <a href="#">
        <img data-toggle="tooltip" data-placement="bottom" title="CREGU" src="http://www.eurocore.rocks/images/logos/cregu_logo.png"
          alt="CREGU" height="70">
      </a>
    </div>

  </div>
</div>