<div *ngIf="site" class="row">
  <div class="col">
    <h3>
      {{site.name}} drillcore
    </h3>
  </div>
</div>
<div class="row ">
  <div class="col">
    <table *ngIf="site" class="table">
      <colgroup>
        <col span="1">
      </colgroup>
      <tr *ngIf="site.id">
        <td class="verticalTableHead">ID</td>
        <td>{{site.id}}</td>
      </tr>
      <tr *ngIf="site.deposit__name">
        <td class="verticalTableHead">Deposit</td>
        <td>
          <a routerLink="/deposit/{{site.deposit__id}}">{{site.deposit__name}}</a>
        </td>
      </tr>
      <tr *ngIf="site.latitude">
        <td class="verticalTableHead">Latitude</td>
        <td>{{site.latitude}}</td>
      </tr>
      <tr *ngIf="site.longitude">
        <td class="verticalTableHead">Longitude</td>
        <td>{{site.longitude}}</td>
      </tr>
      <tr *ngIf="site.elevation">
        <td class="verticalTableHead">Elevation</td>
        <td></td>
      </tr>
      <tr *ngIf="site.hole_length">
        <td class="verticalTableHead">Length</td>
        <td>{{site.hole_length}} m</td>
      </tr>
      <tr *ngIf="site.hole_dip">
        <td class="verticalTableHead">Dip</td>
        <td>{{site.hole_dip}}</td>
      </tr>
      <tr *ngIf="site.hole_azimuth">
        <td class="verticalTableHead">Azimuth</td>
        <td>{{site.hole_azimuth}}</td>
      </tr>
      <tr *ngIf="site.drilling_year">
        <td class="verticalTableHead">Drilling year</td>
        <td>{{site.drilling_year}}</td>
      </tr>
      <tr *ngIf="site.drilling_agent__name">
        <td class="verticalTableHead">Drilling company</td>
        <td>{{site.drilling_agent__name}}</td>
      </tr>
      <tr *ngIf="site.number_boxes">
        <td class="verticalTableHead">Number of boxes</td>
        <td>{{site.number_boxes}}</td>
      </tr>
      <tr *ngIf="site.core_depositor__name">
        <td class="verticalTableHead">Deposited by </td>
        <td>{{site.core_depositor__name}}</td>
      </tr>
    </table>
  </div>
  <div class="col">
    <div id="map" class="map"></div>
    <br>
    <a *ngIf="site" class="btn btn-primary" routerLink="/drillcore_data/{{site.id}}">Show analytical data</a>
  </div>
</div>
<div class="row ">
  <div class="col">
    <ul *ngIf="drillcoreSummary" class="nav nav-tabs" id="drillcoreTabs" role="tablist">
      <li *ngIf=" !(drillcoreSummary.boxes==0  || drillcoreSummary.boxes==null)" class="nav-item">
        <a class="nav-link" href="#images" data-toggle="tab" (click)="getDrillcoreBoxesByDrillcoreId(site.id)" id="boxesTab">Core boxes ({{drillcoreSummary.boxes}})</a>
      </li>
      <li *ngIf=" !(drillcoreSummary.lithologies==0  || drillcoreSummary.lithologies==null)" class="nav-item">
        <a class="nav-link" href="#lithology" data-toggle="tab" (click)="getLithologyByDrillcoreId(site.id)" id="lithologyTab">Lithology ({{drillcoreSummary.lithologies}})</a>
      </li>
      <li *ngIf=" !(drillcoreSummary.dips==0  || drillcoreSummary.dips==null)" class="nav-item">
        <a class="nav-link" href="#dipAzimuth" data-toggle="tab" (click)="getDipByDrillcoreId(site.id)" id="dipTab">Dip/azimuth ({{drillcoreSummary.dips}})</a>
      </li>
      <li *ngIf=" !(drillcoreSummary.rqds==0  || drillcoreSummary.rqds==null)" class="nav-item">
        <a class="nav-link" href="#RQD" data-toggle="tab" (click)="getRqdByDrillcoreId(site.id)" id="rqdTab">RQD ({{drillcoreSummary.rqds}})</a>
      </li>
      <li *ngIf=" !(drillcoreSummary.structures==0  || drillcoreSummary.structures==null)" class="nav-item">
        <a class="nav-link" href="#structures" data-toggle="tab" id="structuresTab">Structures ({{drillcoreSummary.structures}})</a>
      </li>
      <li *ngIf=" !(drillcoreSummary.stratigraphies==0  || drillcoreSummary.stratigraphies==null)" class="nav-item">
        <a class="nav-link" href="#stratigraphy" data-toggle="tab" id="stratigraphyTab">Stratigraphy ({{drillcoreSummary.stratigraphies}})</a>
      </li>
      <li *ngIf=" !(drillcoreSummary.samples==0  || drillcoreSummary.samples==null)" class="nav-item">
        <a class="nav-link" href="#samples" data-toggle="tab" (click)="getSamplesByDrillcoreId(site.id)" id="samplesTab">Samples ({{drillcoreSummary.samples}})</a>
      </li>
      <li *ngIf=" !(drillcoreSummary.analyses==0  || drillcoreSummary.analyses==null)" class="nav-item">
        <a class="nav-link" href="#analyses" data-toggle="tab" (click)="getAnalyzesByDrillcoreId(site.id)" id="analysesTab">Analyses ({{drillcoreSummary.analyses}})</a>
      </li>
      <li *ngIf=" !(drillcoreSummary.ctscans==0  || drillcoreSummary.ctscans==null)" class="nav-item">
        <a class="nav-link" href="#CTscans" data-toggle="tab" (click)="getCTscansByDrillcoreId(site.id)" id="CTscansTab">CT scans ({{drillcoreSummary.ctscans}})</a>
      </li>
      <li *ngIf=" !(drillcoreSummary.attachments==0  || drillcoreSummary.attachments==null)" class="nav-item">
        <a class="nav-link" href="#linkedFiles" data-toggle="tab" id="attachmentsTab">Linked files ({{drillcoreSummary.attachments}})</a>
      </li>
      <li *ngIf=" !(drillcoreSummary.references==0  || drillcoreSummary.references==null)" class="nav-item">
        <a class="nav-link" href="#references" data-toggle="tab" id="refernecesTab">References ({{drillcoreSummary.references}})</a>
      </li>
    </ul>
    <div class="tab-content table-responsive">
      <div class="tab-pane fade" id="lithology">
        <table *ngIf="lithologies" class="table table-hover table-bordered ">
          <thead class="thead-light">
            <tr>
              <th>Depth from (m)</th>
              <th>Depth to (m)</th>
              <th>Rock class</th>
              <th>Rock name</th>
              <th>Field name</th>
              <th>Color</th>
              <th>Description</th>
              <th>Minerals</th>
              <th>Remarks</th>
              <th>Person/Institution</th>
              <th>Date</th>
            </tr>
          </thead>
          <tr *ngFor="let lithology of lithologies">
            <td>{{lithology.start_depth}}</td>
            <td>{{lithology.end_depth}}</td>
            <td>{{lithology.rock_class__name}}</td>
            <td>{{lithology.rock_name__name}}</td>
            <td>{{lithology.field_name}}</td>
            <td>{{lithology.color_attribute__attribute}} {{lithology.color__color}}</td>
            <td>{{lithology.description}}</td>
            <td></td>
            <td>{{lithology.remarks}}</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="dipAzimuth">
        <table class="table table-hover table-bordered ">
          <thead class="thead-light">
            <tr>
              <th>Depth (m)</th>
              <th>Dip</th>
              <th>Azimuth</th>
            </tr>
          </thead>
          <tr *ngFor="let d of dip">
            <td>{{d.depth}}</td>
            <td>{{d.dip}}</td>
            <td>{{d.azimuth}}</td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="RQD">
        <table class="table table-hover table-bordered ">
          <thead class="thead-light">
            <tr>
              <th>Depth from (m)</th>
              <th>Depth to (m)</th>
              <th>RQD %</th>
              <th>Fractures</th>
              <th>Person/Institution</th>
              <th>Date</th>
            </tr>
          </thead>
          <tr *ngFor="let r of rqd">
            <td>{{r.depth}}</td>
            <td>{{r.end_depth}}</td>
            <td>{{r.rqd}}</td>
            <td>{{r.fractures}}</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="structures">
        <table class="table table-hover table-bordered ">
          <thead class="thead-light">
            <tr>
              <th>Depth from (m)</th>
              <th>Depth (m, interval)</th>
              <th>Structure</th>
              <th>Dip</th>
              <th>Dip direction</th>
              <th>Description</th>
              <th>Person/Institution</th>
              <th>Date</th>
            </tr>
          </thead>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="stratigraphy">
        <table class="table table-hover table-bordered ">
          <thead class="thead-light">
            <tr>
              <th>Depth from (m)</th>
              <th>Depth (m)</th>
              <th>Strat. top</th>
              <th>Strat. base</th>
            </tr>
          </thead>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="images">
        <div *ngFor="let drillcoreBox of drillcoreBoxes" class="row align-items-center">
          <div class="col-4">
            <a href="javascript:void(0);" (click)="openNewWin('corebox',drillcoreBox.id)">
              <h5>{{drillcoreBox.number}}</h5>
            </a>
            <table class="table">
              <colgroup>
                <col span="1">
              </colgroup>
              <tr>
                <td class="verticalTableHead">Depth:</td>
                <td>{{drillcoreBox.start_depth.toFixed(2)}} - {{drillcoreBox.end_depth.toFixed(2)}} m</td>
              </tr>
            </table>
          </div>
          <div class="col-8">
            <a href="javascript:void(0);" (click)="openNewWin('corebox',drillcoreBox.id)">
              <img src="http://www.eurocore.rocks{{getImagePreviewLink('1000',drillcoreBox.attachmentlink__attachment__url)}}" width="100%">
            </a>
          </div>
        </div>
        <br>
        <div *ngIf="drillcoreBoxes">
          <div class="search-results" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="200" (scrolled)="onScroll()">
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="samples">
        <table *ngIf="samples" class="table table-hover table-bordered ">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Number</th>
              <th>Depth from (m)</th>
              <th>Depth (m, interval)</th>
              <th>Purpose</th>
              <th>Person/Institution</th>
              <th>Date</th>
            </tr>
          </thead>
          <tr *ngFor="let sample of samples">
            <td>
              <a href="javascript:void(0);" (click)="openNewWin('sample',sample.id)">{{sample.id}}</a>
            </td>
            <td>{{sample.sample_number}}</td>
            <td>{{sample.depth}}</td>
            <td>{{sample.end_depth}}</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table> 
      </div>
      <div class="tab-pane fade" id="analyses">
        <table *ngIf="analyzes" class="table table-hover table-bordered ">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Number</th>
              <th>Depth from (m)</th>
              <th>Depth (m, interval)</th>
              <th>Method</th>
              <th>Person/Institution</th>
              <th>Date</th>
            </tr>
          </thead>
          <tr *ngFor="let analysis of analyzes">
            <td>
              <a href="javascript:void(0);" (click)="openNewWin('analysis',analysis.id)">{{analysis.id}}</a>
            </td>
            <td>{{analysis.number}}</td>
            <td>{{analysis.depth}}</td>
            <td>{{analysis.end_depth}}</td>
            <td>{{analysis.analysis_method__method}}</td>
            <td>{{analysis.agent__name}}</td>
            <td>{{analysis.date}}</td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="CTscans">
        <table *ngIf="CTscans" class="table table-hover table-bordered ">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Depth (m)</th>
              <th>Depth (m, interval)</th>
              <th>Instrument</th>
              <th>Person/Institution</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tr *ngFor="let CTscan of CTscans">
            <td>{{CTscan.id}}</td>
            <td>{{CTscan.depth}}</td>
            <td>{{CTscan.end_depth}}</td>
            <td>{{CTscan.instrument__instrument}}</td>
            <td>{{CTscan.agent__name}}</td>
            <td>{{CTscan.date}}</td>
            <td>
              <a href="javascript:void(0);" (click)="open3DView(site.id)" >Show 3D data</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="linkedFiles">
        <table class="table table-hover table-bordered ">
          <thead class="thead-light">
            <tr>
              <th>Type</th>
              <th>Format</th>
              <th>Description</th>
              <th>Author</th>
              <th>Date</th>
              <th>Link</th>
            </tr>
          </thead>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="references">
        <table class="table table-hover table-bordered ">
          <thead class="thead-light">
            <tr>
              <th>Reference</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>