<div *ngIf="site" class="row">
  <div class="col">
    <h3>
      {{site.name}} drillcore
    </h3>
  </div>
</div>
<div class="row ">
  <div *ngIf="site" class="col">
    <table class="table">
      <colgroup>
        <col span="1" style="background-color:rgba(128, 128, 128, 0.11)">
      </colgroup>
      <tr>
        <td>ID</td>
        <td>{{site.id}}</td>
      </tr>
      <tr>
        <td>Deposit</td>
        <td>{{site.deposit__name}}</td>
      </tr>
      <tr>
        <td>Latitude</td>
        <td>{{site.latitude}}</td>
      </tr>
      <tr>
        <td>Longitude</td>
        <td>{{site.longitude}}</td>
      </tr>
      <tr>
        <td>Elevation</td>
        <td></td>
      </tr>
      <tr>
        <td>Length</td>
        <td>{{site.hole_length}} m</td>
      </tr>
      <tr>
        <td>Dip</td>
        <td>{{site.hole_dip}}</td>
      </tr>
      <tr>
        <td>Azimuth</td>
        <td>{{site.hole_azimuth}}</td>
      </tr>
      <tr>
        <td>Drilling year</td>
        <td>{{site.drilling_year}}</td>
      </tr>
      <tr>
        <td>Drilling company</td>
        <td>{{site.drilling_agent__name}}</td>
      </tr>
      <tr>
        <td>Number of boxes</td>
        <td>{{site.number_boxes}}</td>
      </tr>
      <tr>
        <td>Deposited by </td>
        <td>{{site.core_depositor__name}}</td>
      </tr>
    </table>
  </div>
  <div class="col">
    
      <div id="map" class="map"></div>
  </div>
</div>


<div class="row ">
  <div class="col">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="#dipAzimuth" data-toggle="tab">Dip/azimuth</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#lithology" data-toggle="tab">Lithology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#RQD" data-toggle="tab">RQD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#structures" data-toggle="tab">Structures</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#stratigraphy" data-toggle="tab">Stratigraphy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#images" data-toggle="tab" (click)="getDrillcoreBoxesByDrillcoreId(site.id)">Core boxes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#samples" data-toggle="tab">Samples</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#analyses" data-toggle="tab">Analyses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#linkedFiles" data-toggle="tab">Linked files</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#references" data-toggle="tab">References</a>
      </li>
    </ul>
    <br>
    <div class="tab-content ">
      <div class="tab-pane fade show active" id="lithology">
        <table class="table table-striped table-sm table-responsive">
          <thead class="thead-dark">
            <tr>
              <th>Depth from (m)</th>
              <th>Depth to (m)</th>
              <th>Rock class</th>
              <th>Rock name</th>
              <th>Field name</th>
              <th>Color</th>
              <th>Description</th>
              <th>Minerals</th>
              <th>Remarks</th>
              <th>Person/Institution</th>
            </tr>
          </thead>
          <tr *ngFor="let lithology of lithologies">
            <td>{{lithology.start_depth}}</td>
            <td>{{lithology.end_depth}}</td>
            <td>{{lithology.rock_class__name}}</td>
            <td>{{lithology.rock_name__name}}</td>
            <td>{{lithology.field_name}}</td>
            <td>{{lithology.color_attribute__attribute}} {{lithology.color__color}}</td>
            <td>{{lithology.remarks}}</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="dipAzimuth">
        <table class="table table-striped table-sm table-responsive">
          <thead class="thead-dark">
            <tr>
              <th>Depth (m)</th>
              <th>Dip</th>
              <th>Azimuth</th>
            </tr>
          </thead>
          <tr>
            <td>123</td>
            <td>223</td>
            <td>----</td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="RQD">
        <table class="table table-striped table-sm table-responsive">
          <thead class="thead-dark">
            <tr>
              <th>Depth from (m)</th>
              <th>Depth to (m)</th>
              <th>Core loss</th>
              <th>RQD</th>
              <th>Person/Institution</th>
              <th>Date</th>
            </tr>
          </thead>
          <tr>
            <td>123</td>
            <td>223</td>
            <td>Name</td>
            <td>Abcde</td>
            <td>dfgffggf</td>
            <td>------------------</td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="structures">
        <table class="table table-striped table-sm table-responsive">
          <thead class="thead-dark">
            <tr>
              <th>Depth from (m)</th>
              <th>Depth (m, interval)</th>
              <th>Structure</th>
              <th>Dip</th>
              <th>Dip direction</th>
              <th>Description</th>
              <th>Person/Institution</th>
              <th>Date</th>
            </tr>
          </thead>
          <tr>
            <td>123</td>
            <td>223</td>
            <td>Name</td>
            <td>Abcde</td>
            <td>.......</td>
            <td>-------</td>
            <td>......</td>
            <td>.....</td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="stratigraphy">
        <table class="table table-striped table-sm table-responsive">
          <thead class="thead-dark">
            <tr>
              <th>Depth from (m)</th>
              <th>Depth (m)</th>
              <th>Strat. top</th>
              <th>Strat. base</th>
            </tr>
          </thead>
          <tr>
            <td>123</td>
            <td>223</td>
            <td>Name</td>
            <td>Abcde</td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="images">
        <div *ngFor="let drillcoreBox of drillcoreBoxes" class="row">
        <div class="col-4">
            <a routerLink="/drillcore/corebox/{{drillcoreBox.id}}"><h5>{{drillcoreBox.number}}</h5> </a>
        <table class="table">
            <colgroup>
              <col span="1" style="background-color:rgba(128, 128, 128, 0.11)">
            </colgroup>
          <tr>
            <td>Depth from (m)</td>
            <td>{{drillcoreBox.start_depth}}</td>
          </tr>
          <tr>
              <td>Depth (m)</td>
              <td>{{drillcoreBox.end_depth}}</td>
            </tr>
        </table>
        </div>
        <div class="col">
          <a routerLink="/drillcore/corebox/{{drillcoreBox.id}}"><img src="http://www.eurocore.rocks{{drillcoreBox.attachmentlink__attachment__url}}" width="600" height="200"></a>
          
        </div>
        
      </div>
      <br>
      <div *ngIf="drillcoreBoxes">
      <div  class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="200"
      (scrolled)="onScroll()">
      </div>  
      </div>
      </div>
      <div class="tab-pane fade" id="samples">
        <table class="table table-striped table-sm table-responsive">
          <thead class="thead-dark">
            <tr>
              <th>Depth from (m)</th>
              <th>Depth (m, interval)</th>
              <th>Sample ID</th>
              <th>Sample number</th>
              <th>Purpose</th>
              <th>Person/Institution</th>
              <th>Date</th>
            </tr>
          </thead>
          <tr>
            <td>123</td>
            <td>223</td>
            <td>Name</td>
            <td>Abcde</td>
            <td>223</td>
            <td>Name</td>
            <td>Abcde</td>
          </tr>
        </table>
       
      </div>
      <div class="tab-pane fade" id="analyses">
        <table class="table table-striped table-sm table-responsive">
          <thead class="thead-dark">
            <tr>
              <th>Depth from (m)</th>
              <th>Depth (m, interval)</th>
              <th>Analyse ID</th>
              <th>Analyse number</th>
              <th>Person/Institution</th>
              <th>Date</th>
            </tr>
          </thead>
          <tr>
            <td>123</td>
            <td>223</td>
            <td>Name</td>
            <td>Abcde</td>
            <td>Name</td>
            <td>Abcde</td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="linkedFiles">
        <table class="table table-striped table-sm table-responsive">
          <thead class="thead-dark">
            <tr>
              <th>Type</th>
              <th>Format</th>
              <th>Description</th>
              <th>Author</th>
              <th>Date</th>
              <th>Link</th>
            </tr>
          </thead>
          <tr>
            <td>123</td>
            <td>223</td>
            <td>Name</td>
            <td>Abcde</td>
            <td>Name</td>
            <td>Abcde</td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" id="references">
        <table class="table table-striped table-sm table-responsive">
          <thead class="thead-dark">
            <tr>
              <th>Reference</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tr>
            <td>123</td>
            <td>remarks....</td>
          </tr>
        </table>
      </div>
    </div>

  </div>




</div>