<div class="row">
	<div class="col alignCenter">
		<h3>Data search</h3>
	</div>
</div>

<div class="row align-items-center">
	<div class="col alignCenter">
		<div class="form-group">
			<label for="name">Drillcore name(s)</label>
			<ng-select class="form-control2" [items]="drillcoreAutocompleteValues" bindLabel="name" bindValue="id" [(ngModel)]="searchDrillcoreName"
			 [multiple]="true">
			</ng-select>
		</div>
		<div class="form-group">
			<label for="name">Analytical method(s)</label>
			<ng-select class="form-control2" [items]="methodAutocompleteValues" bindLabel="analysis_method" bindValue="analysis_method"
			 [multiple]="true" [(ngModel)]="searchAnalysesMethods">
			</ng-select>
		</div>
		<div class="form-group">
			<label for="name">Show Parameter(s)</label>
			<ng-select class="form-control2" [items]="measuredParameters" bindLabel="label" [multiple]="true" [(ngModel)]="searchParameters"
			 (change)="onChange($event)">
			</ng-select>
		</div>
		<label for="name">
			Parameter filter
		</label>
		<div class="form-group" *ngFor="let item of parameterRowsCount; let i = index;">
			<div class="input-group">
				<select class="form-control" [(ngModel)]="searchComparisonParameter2[i]" name="param[i]">
					<option value=""></option>
					<option *ngFor="let parameter of measuredParameters" value="{{getParameterColumnName(parameter.analysisresult__parameter__parameter,parameter.analysisresult__unit__unit)}}">
						{{parameter.analysisresult__parameter__parameter}} {{parameter.analysisresult__unit__unit}}</option>
				</select>
				<select class="form-control" [(ngModel)]="searchComparisonOperator2[i]" name="size">
					<option value=""> </option>
					<option value="iexact">Equals</option>
					<option value="gt">Greater than</option>
					<option value="lt">Smaller than</option>
				</select>
				<input type="text" [(ngModel)]="searchComparisonValue2[i]" class="form-control">
				<button [disabled]="parameterRowsCount.length<3" class="btn btn-primary" (click)="deleteRow(i)">X</button>
			</div>
		</div>
		<button class="btn btn-primary buttonRight" (click)="addRow()">Add parameter</button>
		<br />
		<br>
		<button class="btn btn-primary" (click)="getData()">SEARCH</button>
		<button class="btn btn-primary" (click)="resetFormValues()">RESET FORM</button>
	</div>

</div>
<div class="row ">
	<div class="col">
		<ul class="nav nav-tabs">
			<!--<li class="nav-item">
				<a class="nav-link" href="#drillcores" data-toggle="tab" (click)="getDrillcoresByIds()">Drillcores ({{drillcoreIds.length}})</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="#samples" data-toggle="tab"   (click)="getSamplesByIds()">Samples ({{sampleIds.length}})</a>
			</li>-->
			<li class="nav-item">
				<a class="nav-link active" href="#analyses" data-toggle="tab">Data ({{dataCount}})</a>
			</li>
		</ul>
		<br>
		<div class="tab-content">
			<!--<div class="tab-pane fade" id="drillcores">
				<table class="table table-hover table-bordered ">
					<thead class="thead-light">
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Deposit</th>
							<th>Latitude</th>
							<th>Longitude</th>
							<th>Elevation</th>
							<th>Drillhole length</th>
							<th>Dip</th>
							<th>Azimuth</th>
							<th></th>
						</tr>
					</thead>
					<tr *ngFor="let site of sites">
						<td>{{site.id}}</td>
						<td><a routerLink="/drillcore/{{site.id}}">{{site.name}}</a></td>
						<td><a routerLink="/deposit/{{site.deposit__id}}">{{site.deposit__name}}</a></td>
						<td>{{site.latitude}}</td>
						<td>{{site.longitude}}</td>
						<td></td>
						<td>{{site.hole_length}}</td>
						<td>{{site.hole_dip}}</td>
						<td>{{site.hole_azimuth}}</td>
						<td><a routerLink="/drillcore_data/{{site.id}}">Show data</a></td>
					</tr>
				</table>
			</div>
			<div class="tab-pane fade" id="samples">
				<table class="table table-hover table-bordered ">
					<thead class="thead-light">
						<tr>
							<th>ID</th>
							<th>Number</th>
							<th>Drillcore</th>
							<th>Depth (m)</th>
							<th>Depth (m, interval)</th>
							<th>Purpose</th>
							<th>Person/Institution</th>
							<th>Date</th>
						</tr>
					</thead>
					<tr *ngFor="let sample of samples">
						<td><a href="javascript:void(0);" (click)="openNewWin('sample',sample.id)">{{sample.id}}</a></td>
						<td>{{sample.sample_number}}</td>
						<td><a routerLink="/drillcore/{{sample.drillcore__id}}">{{sample.drillcore__name}}</a></td>
						<td>{{sample.depth}}</td>
						<td>{{sample.end_depth}}</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>-->
			<div class="tab-pane fade active show table-responsive" id="analyses">
				<table *ngIf="analysisSummary" class="table table-hover table-bordered ">
					<thead class="thead-light">
						<tr>
							<th>Drillcore</th>
							<th>Depth from (m)</th>
							<th>Depth to (m)</th>
							<th>Sample </th>
							<th>Analysis</th>
							<th>Method</th>
							<!--<th *ngIf="searchComparisonParameter">{{getParameterName(searchComparisonParameter)}}</th>-->
							<!--<th>{{searchComparisonParameter}}</th>-->
							<th *ngFor="let p of parameterKeys">{{p.label}}</th>
							<!--<th *ngFor="let k of parameterKeys">{{k}}</th>-->
							<!--<th *ngFor="let k of measuredParameters">{{k.label}}</th>-->
						</tr>
					</thead>
					<tr *ngFor="let analysisSum of analysisSummary">
						<td>
							<a routerLink="/drillcore/{{analysisSum.drillcore_id}}">{{getDrillcoreName(analysisSum.drillcore_id)}}</a>
						</td>
						<td>{{analysisSum.depth}}</td>
						<td>{{analysisSum.end_depth}}</td>
						<td>
							<a href="javascript:void(0);" (click)="openNewWin('sample',analysisSum.sample_id)">{{analysisSum.sample_number}}</a>
						</td>
						<td>
							<a href="javascript:void(0);" (click)="openNewWin('analysis',analysisSum.analysis_id)">{{analysisSum.analysis_id}}</a>
						</td>
						<td>{{analysisSum.analysis_method}}</td>
						<td *ngFor="let p of parameterKeys">{{analysisSum[p.value]}}</td>
						<!--<td *ngIf="searchComparisonParameter">{{analysisSum[searchComparisonParameter]}}</td>-->
						<!--<td *ngFor="let k of parameterKeys">{{analysisSum[k]}}</td>-->
						<!--<td *ngFor="let k of measuredParameters">{{analysisSum[k.value]}}</td>-->
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>