/* You can add global styles to this file, and also import other style files */
/*@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');*/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
.map {
  height: 400px;
  min-width: 300px;
  width:100%;
}
.row{
  padding-bottom: 5px;

}
.col{
  padding-bottom: 5px;
}
.exportButtons{
  text-align:right;
}
 
.export-geojson {
    position: absolute;
    top: 65px;
    left: 8px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 2px;
  }

  .ol-touch .export-geojson {
    top: 80px;
  }

  .export-geojson a {
    display: block;
    color: white;
    font-size: 16px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 1px;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    height: 22px;
    width: 22px;
    background: rgba(0, 60, 136, 0.5);
  }

  .ol-touch .export-geojson a {
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 26px;
  }

  .export-geojson a:hover {
    background: rgba(0, 60, 136, 0.7);
  }


  .ol-dragbox {
    background-color: rgba(255,255,255,0.5);
    border-color: rgba(83, 170, 0,1);
  }

  .rotate-north {
    top: 65px;
    left: .5em;
  }
  .ol-touch .rotate-north {
    top: 80px;
  }


  html {
    height: 100%;
    box-sizing: border-box;
  }
  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 95%;
    font-family: 'Titillium Web', sans-serif !important;
    background-color: rgba(0, 68, 148, 0.03)!important;
  }

  .alignCenter{
    float: none;
    margin: 0 auto;
    max-width: 900px!important;
  }

  .container{
    margin-top:90px;
    padding-top: 30px;
    background-color: white!important;
    margin-bottom: 0px!important;
  }

  #footer {
     position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 0.7em;
    padding: 5px 0 15px 0;
    text-align: center;
    /*background-color: rgb(226, 246, 253);*/
    background-color: white;
    border-top: 2px solid rgba(0, 68, 148, 0.1);

    color: #333;
    opacity: 0.9;
}
.pagination-row{
  line-height:40px;
}
.tab-content{
  padding-top: 10px;
}

.card-header{
  background-color: white!important;
}

.navbar {
  /*background-color: white!important;*/
  background-color: white!important;
  /*background-color: #73C4EE!important;*/
  /*border-width:5px;
  border-color: black;*/
  border-bottom: 2px solid rgba(0, 68, 148, 0.1);
}

#eurocoreLogo{
  height:70px;
}

.navbar-collapse{
  padding-left: 3%;
}
.navbar-light .navbar-brand {
  padding-left: 5%;
  color: #004393!important;
}
.nav-item{
  padding-left: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: #004393!important;
  font-weight: bold;
} 

.navbar-light .navbar-toggler {
  color: #004393;
  border-color: #004393;
}

.h3, h3 {
  color: #6BB745!important;
  font-weight: 600!important;
}
h2, h4, h5{
  color: #6BB745!important;
}


.btn-primary {
  color: #fff!important;
  /*background-color: #6BB745!important;
  border-color: #6BB745!important; */
  background-color: #004393!important;
  border-color: #004393!important; 
}

.btn-danger {
  color: #fff!important;
  background-color: #004393!important;
  border-color: #004393!important; 
}


.page-link {
  color: #004393!important;
  border: 1px solid #ddd!important;
}

.page-item.active .page-link {
  color: #fff!important;
  background-color: #004393!important;
}


.table .thead-light th {
  color: #004393!important;
  background-color: rgba(0,68,148,0.2)!important;
  /* border-color: #004393; */
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff!important;
  background-color: #004393!important;
}

.ol-control button {
  background-color: #004393!important;
}


.layer-switcher button {
  background-color: rgba(0,0,0,0.05)!important;
}

.verticalTableHead { 
  color: #004393!important;
  background-color: rgba(0,68,148,0.2)!important;
  font-weight: bold!important;
}
.container{
  margin-bottom: 40px;
}


.btn-outline-secondary:hover {
  color: #fff!important;
  background-color: #004393!important;
  border-color: #004393!important;
}

.btn-outline-secondary {
  color: #004393!important;
  background-color: transparent;
  background-image: none;
  border-color: #004393!important;
}

  
